.main_div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 450px;
    
    background: #5faafa;
    box-shadow: inset 5px 5px 10px #5292d7,inset -5px -5px 10px #6cc2ff;

}

@font-face {
    font-family: Poppins;
    src: url("./../Media/Poppins-Medium.ttf");
}

.root{
    background-color: rgb(95, 170, 250);
}

.first_div, .second_div{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.first_div_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 90%;
    border-radius: 0px;
    background: #5faafa;
    box-shadow: inset -5px 5px 10px #5292d7,inset 5px -5px 10px #6cc2ff;
}

form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 85%;
    font-family: Poppins;
}

.title{
    font-family: Poppins;
    font-style: italic;
    font-size: 30px;
}

.input_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 90px;
    margin-bottom: 20px;
}

.text_input{
    width: 250px;
    height: 30px;
    border: none;
    box-shadow: 3px 3px 5px  rgb(31, 31, 31);
    outline: none;
    transition: 0.5s;
    padding: 10px;
    background-color: rgb(79, 164, 255);
    color: white;
    font-family: Poppins;
    border-radius: 5px;
}

.input_error{
    color: rgb(232, 85, 149);
    font-family: Poppins;
    font-size: 13px;
    margin: 0%;
}

::placeholder{
    color: rgb(255, 255, 255);
}

.login_button, .sign_in_button{
    width: 250px;
    height: 50px;
    border: none;
    box-shadow: 3px 3px 5px  rgb(31, 31, 31);
    outline: none;
    transition: 0.5s;
    padding: 10px;
    background-color: rgb(80, 202, 100);
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-weight: bold;
    transition: 0.1s;
    cursor: pointer;
    border-radius: 10px;
}

.login_button:hover, .sign_in_button:hover{
    background-color: rgb(97, 192, 113);
}

.sign_in_message_div{
    font-size: 13px;
}

.sign_in_message_div span{
    color: rgb(87, 62, 92);
    text-decoration: underline;
    cursor: pointer;
}
